body,ul,li{
				padding: 0;
				margin: 0;
			}
			li{
				list-style: none;
			}
			#floorNav{
				display: none;
				position: fixed;
				top: 100px;
				left: 23px;
				width: 32px;
				border: 1px solid #CECECE;
			}
			#floorNav li{
				position: relative;
				width: 32px;
				height: 32px;
				border-bottom: 1px solid #CECECE;
				text-align: center;
				line-height: 32px;
				font-size: 12px;
			}
			
			#floorNav span{
				display: none;
				position: absolute;
				top: 0;
				left: 0;
				width: 32px;
				height: 32px;
				background: red;
				color: white;
			}
			
			#floorNav li:hover span,#floorNav li.hover span{
				display: block;
			}
			
			#floorNav li:last-child{
				background: red;
				color: white;
				border-bottom: none;
			}
			#header,#footer{
				width: 1000px;
				height: 1000px;
				background: darkgoldenrod;
				margin: 0 auto;
			}
			#content>ul>li{
				width:1190px;
				height:460px;
				margin: 0 auto;
				font-size: 40px;
				text-align: center;
				line-height: 600px;
			}
			#content>ul>li>ul{
				overflow: hidden;
			}
			#content>ul>li>ul>li{
				float: left;
			}
            #list1 li, #list2 li, #list3 li, #list5 li{
            	width: 230px;
            	height: 220px;
            }
            #list1 li img,#list2 li img,#list3 li img,#list5 li img{
                width: 230px;
				height: 170px;
            }
           #list1 input,#list2 input,#list3 input,#list5 input{
				width: 120px;
				height: 40px;
				background: red;
				color: white;
				cursor: pointer;
				border: none;
			}
			#list1 li p,#list2 li p,#list3 li p,#list5 li p {
			    margin-left: -161px;
			    margin-top:10px;
			}
			 
			#list1 img,#list2 img,#list3 img,#list5 img{
                width: 230px;
				height: 170px;
            }
            .content .bangnin{
            	overflow: hidden;
             	height:460px;
             }
            .content .content_re .bangnin #list5{
            	width:1190px;
            	height:460px;	
            }
         .content .content_re .bangnin #list5 li{
         	float:left;
         }
